{% extends 'base.html' %}
{% block body %}
<center>
<div  style="margin-top:150px;width:450px;height:350px;padding-top:30px;">
  <form  method="post">
    {% csrf_token %}
    <div class="forinput"">
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="Enter your username" required ><br>
   </div>
   <div class="forinput">
     <label for="password">Password:  </label>
     <input type="password" name="password" required><br>
   </div>
    <div class="forinput">
      <a href="{% url 'dashboard' %}"><button class="btn btn-primary btn-lg" type="submit" name="button">Log in</button></a>

    </div>
      </form>
  </div>

</center>
{% block style %}
<style >
  .forinput{
    margin-top:20px;
    }
    body{
      background-color:#f2f2f2;
    }
</style>
{% endblock style %}

{% endblock body %}