<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-database.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <title>FIRE ALARM SYS</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">FIRE ALARM SYSTEM🔥</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                </ul>
                
                <a class="nav-link" href="{% url 'logoutuser' %}">LOGOUT</a>
            </div>
            
            <a href="{% url 'request_access'   %}"><button class="button btn btn-primary " type="button" name="button">Request Access</button></a>
                
            
        </div>
    </nav>
    <body>
        <center>
            <form action="{% url 'send' %}" method="POST" style="margin-top:200px;">
              {% csrf_token %}
                <div class="edho fortext">
                <b style="border:2px solid white;padding-left:30px;">  Username:</b>
                  <input type="text" name="username" value="{{username}} " readonly>
                    <br>
                    <br>
                  <b style="border:2px solid white">  Email:</b>
                  <input type="text" name="username" value="{{email}} " readonly>
                </div>
            <div class="edho fortext">
            {{form.errors}}
            </div>
            <a href="{% url 'send' %}"><button class="button btn btn-primary btn-lg" style="margin-top:30px;" type="submit" name="button">Submit</button></a>
                
            </form>
            </center> 

            {% comment %} <form action="" method=='POST'>
                {% csrf_token %}
                {{form}}
                <input type="submit" name="submit">
            </form> {% endcomment %}
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>
